
[buildout]
develop = .
parts = microbank omelette
newest = false

[microbank]
recipe = zc.recipe.egg:scripts
eggs =
    microbank
    PasteScript
scripts = paster
interpreter = py

[omelette]
recipe = collective.recipe.omelette
eggs = microbank
ignores = setuptools
